body{
    font-family: Ariel,verdana,san serif;}
    
    h1,h3{
        color: rgb(255,0,0);}
       
        p{
            text-decoration-color: rgba(87, 37, 15, 0.432), 0.945);background-color: brown;
        }